@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page {
  @include margin-bottom(2);

  &__inner {
    padding: 25px 20px;
  }

  &__title_container {
    position: sticky;
    top: 25px;
    @include margin-top(0);
    @include margin-bottom(1.45);
  }

  &__title {
    background: white;
    font-size: $typographic-base-font-size * 2.5;
    font-weight: 600;
    position: relative;
    transform-origin: top left;
    @include line-height(2);
    @include margin-top(0);
    @include margin-bottom(0);
  }

  &__max_scaled {
    box-shadow: 0px 4px 4px 0px white;
  }

  &__max_scaled::before {
    background: linear-gradient(to right, #e6e6e6 0%, #e6e6e6 48%, #FFF 100%);
    position: absolute;
    content: '';
    height: 0.0625rem;
    width: 540px;
    left: 0;
    // right: -10px;
    bottom: 0;
  }

  &__title_container::after {
    content:" ";
    position:absolute;
    height: 25px;
    background: white;
    left: 0px;
    width: 100%;
    bottom: 100%;
  }

  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin(0, 0, 1);
  }

}

@include breakpoint-sm {
  .page {
    lost-column: 7/12;

    &__inner {
      padding: 30px 20px;
    }

    &__title_container {
      top: 30px;
    }

    &__title_container::after {
      height: 30px;
    }

  }

}

@include breakpoint-md {
  .page {
    lost-column: 2/3;

    &__inner {
      padding: 40px 35px;
    }

    &__title_container {
      top: 40px;
    }

    &__title_container::after {
      height: 40px;
    }

  }

}